* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://images.pexels.com/photos/1690082/pexels-photo-1690082.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 400px;
  margin: 40px auto;
  background-color: white;
  /* From https://css.glass */
  background: rgba(105, 166, 245, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.45);
}
#Logo {
  height: 130px;
  width: 130px;
}
input {
  width: 250px;
  padding: 12px;
  border-radius: 15px;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(14,113,230,1) 47%, rgb(45, 33, 125) 100%);}
label {
  text-align: left;
  color: white;
  margin: 1px;
  padding: left 10px;
}
button {
  width: 100px;
  padding: 12px;
  border-radius: 15px;
  background-color: rgb(2, 7, 62);
  border-color: rgb(6, 43, 59);
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  color: white;
}
