body {
  margin: 0;
  padding: 0;
  background-color: rgb(13, 24, 48);
  box-sizing: border-box;
}
form {
  border: 3px rgba(34, 142, 243, 0.918) solid;
  height: 300px;
  width: 400px;
  margin: 40px auto;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: white;
}
#Logo {
  height: 100px;
  width: 100px;
}
